<mat-card>

  <form novalidate [formGroup]="form" (ngSubmit)="addUser(form)">
    <div>
      <mat-form-field>
        <label for="name">Name: </label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>
      <div *ngIf="form.get('name').touched">
        <mat-error *ngIf="form.get('name').invalid || form.get('name').hasError('required')">
          Please enter a valid name
        </mat-error>
      </div>

    </div>

    <div>
      <mat-form-field>
        <label for="contact">Contact: </label>
        <input matInput type="tel" formControlName="contact">
      </mat-form-field>
      <div *ngIf="form.get('contact').touched">
        <mat-error *ngIf="form.get('contact').invalid">
          Please enter a valid contact
        </mat-error>
      </div>

    </div>

    <div>
      <mat-form-field>
        <label for="email">Email: </label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>
      <div *ngIf="form.get('email').touched">
        <mat-error *ngIf="form.get('email').invalid">
          Please enter a valid email
        </mat-error>
      </div>

    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]="form.invalid" type="submit">Add User</button>
    </div>
  </form>
</mat-card>
