<mat-card>
  <form (submit)="savePost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" ngModel required #title="ngModel" placeholder="Post title" />
      <mat-error *ngIf="title.invalid">
        Please enter a valid title
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <!-- <textarea matInput rows="6"></textarea> -->
      <textarea matInput name="content" ngModel rows="4" required #content="ngModel"
        placeholder="Post content"></textarea>
      <mat-error *ngIf="content.invalid">
        Please enter a valid content
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">save post</button>
  </form>
</mat-card>
